<video autoplay muted loop id="myVideo">
    <source src="./videos/museum.mp4" type="video/mp4">
</video>
<div class="container">
    <form class="row g-3" id="login" action="/login" method="POST">
        <h3>Log-in</h3>
        <hr>
        <div class="col-md-12">
            <label for="email" class="form-label">Email</label>
            <div class="input-group">
                <span class="input-group-text" id="email">@</span>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
        </div>
        <div class="col-md-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        {{#if errorMessage}}
        <div class="col-md-12" id="errorMessage">
            <p>{{errorMessage}}</p>
        </div>
        {{/if}}
        <div class="col-12" style="width: 25px;">
            <button class="btn btn-secondary" id="btn" type="submit">Log-in</button>
        </div>
    </form>
</div>