CONTROL PANEL

<div class="container">
    <div class="controlPanel">
        <a class="btn btn-primary" href="/create-collection">Create collection</a>
        <a class="btn btn-danger" href="/">Create gallery</a>
        <a class="btn btn-warning" href="/create-artist">Create artist</a>
        <a class="btn btn-warning" href="/users">Users</a>
        <a class="btn btn-warning" href="/comments">Comments</a>

    </div>
</div>