<video autoplay muted loop id="myVideo">
    <source src="./videos/museum.mp4" type="video/mp4">
</video>

<video autoplay muted loop id="myVideo">
    <source src="./videos/museum.mp4" type="video/mp4">
</video>
<div class="container">
    <form class="row g-3" id="login" action="/create-artist" method="POST">
        <h3>Create Artist</h3>
        <hr>
        <div class="col-md-12">
            <label for="name" class="form-label">Artist Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="col-md-12">
            <label for="searchParams" class="form-label">Search Params</label>
            <input type="text" class="form-control" id="searchParams" name="searchParams" required>
        </div>
        <div class="col-12" style="width: 25px;">
            <button class="btn btn-secondary" id="btn" type="submit">Create</button>
        </div>
    </form>
</div>