<video autoplay muted loop id="myVideo">
    <source src="./videos/museum.mp4" type="video/mp4">
</video>
<form class="row g-3" id="sing-up" action="/create-artist" method="POST">
    <h3>Crear artista</h3>
    <div class="col-md-4">
        <label for="name" class="form-label">Nombre del artista</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="col-md-4">
        <label for="searchParams" class="form-label">parámetros de busqueda</label>
        <input type="text" class="form-control" id="searchParams" name="searchParams" required>
    </div>
    <div class="col-12">
        <button class="btn btn-dark" type="submit">Crear artista</button>
    </div>
</form>