<h1>Item collection</h1>

{{#each dataArray}}
<p>{{title}}</p>
<a href="/art/art{{objectID}}"><img src="{{primaryImageSmall}}" alt=""></a>
{{/each}}

<form action="/create-collection" method="POST" class="create-collection">
    <input type="text" id="title" placeholder="Título" name="title">
    <input type="text" id="description" placeholder="Descripción" name="description">
    <input type="text" id="dataArray" placeholder="IDs" name={{dataArray}}>
    <button id="createhBtn" type="submit">Search</button>
</form>