<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Agrega un museo</h1>
            <hr>
            <form action="/createplaces" method="POST">

                <div class="mb-3 row">
                    <div class="col">
                        <label for="name" class="form-label">Nombre del museo</label>
                        <input type="text" class="form-control" id="name" name="name">
                        <div class="form-text">Requerido.</div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col">
                        <label for="lat" class="form-label">Latitud</label>
                        <input type="text" class="form-control" id="lat" name="lat">
                        <div class="form-text">Requerido.</div>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col">
                        <label for="long" class="form-label">Longitud</label>
                        <input type="text" class="form-control" id="long" name="long">
                        <div class="form-text">Requerido.</div>
                    </div>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-dark block">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>