* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
}

#sing-up {
    margin: 40px;
    margin-left: 80px;
    margin-right: 80px;
}

#login {
    margin: 40px;
    margin-left: 400px;
    margin-right: 400px;
}

.navbar form button {
    background: transparent;
    border: none;
}

#errorMessage {
    background-color: rgb(160, 116, 116);
    text-align: center;
    padding-top: 10px;
    height: 40px;
}

.card {
    margin: 20px;
    justify-content: space-around;
}

#titU {
    margin: 20px;
}

#users {
    background-color: transparent;
    color: black;
}

#editButton {
    display: flex;
}

body {
    background-image: url('https://sothebys-com.brightspotcdn.com/dims4/default/cc0d0f4/2147483647/strip/true/crop/3493x1976+0+315/resize/1156x654!/quality/90/?url=https%3A%2F%2Fsothebys.brightspotcdn.com%2F1d%2F6e%2F7f23844d45d5b6aef37d9d7b8e50%2F5.%20New%20European%20Paintings%20Galleries_Gallery%20601_Italian%20Baroque_MMA.jpg');
    background-size: cover;
}

footer {
    margin-top: 800px;
}